Repository wp-cli/wp-cli, pull requests merged in 2020-11, with the labels that each got.

#5462 Skip using removed `Operation::getReason()` for Composer v2 compat
  php/WP_CLI/PackageManagerEventSubscriber.php
Labels: command:package

#5465 Improve regex to match `__FILE__` and `__DIR__` magic constants
  php/utils.php
Labels: bug

#5469 [PHP 8] Add properties argument to __set_state magic method
  features/help.feature
Labels: scope:testing

#5476 Fix registering a command with a class and method name pair on PHP 8.
  php/WP_CLI/Dispatcher/CommandFactory.php
  php/class-wp-cli.php
  php/utils.php
  tests/test-utils.php
Labels: internal-api:wp-cli-add-command, scope:framework
